version: "3.8"

services:
  backend:
    build:
      context: ./backend
    container_name: slotswapper-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    environment:
      - MONGO_URI=mongodb://mongo:27017/slotswapper
      - CLIENT_URL=http://localhost:5173
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
    container_name: slotswapper-frontend
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env
    environment:
      - VITE_API_URL=http://backend:5000
    depends_on:
      - backend

  mongo:
    image: mongo:7
    container_name: slotswapper-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
